{% extends "shop/checkout/base_confirm.html" %}
{% load i18n reward_tags %}
{% load satchmo_currency satchmo_order %}
{# this is the reward points confirmation template #}

{% block errorheader %}We encountered an error while trying to process your reward points{% endblock %}

{% block navbar %}
<a href="{{ shop_base }}/">{% trans "Home" %}</a> ::
{% trans "Checkout" %}
{% endblock %}

{% block payment_display %}
{% include "shop/_points_description.html" %}
{% endblock %}

{% block payment_form %}
<form id="payform" action="" method="post">{% csrf_token %}
{% blocktrans with 1|calc_reward_value|currency as points_val %}You currently have {{ points_used }} reward points. Specify how many reward points you would like to use (1 point = {{points_val}}){% endblocktrans %}
<input name="points" value="{{ points_used }}"/>
<input class="btn btn-success" type="submit" value="{% trans "Apply Points" %}"/>
</form>

{% endblock %}
